:root {
    --color01: #F7F8F8;
    --color02: #B5B6B6;
    --color03: #9FA0A0;
    --color04: #898989;
    --color05: #727171;
    --color06: #525152;


    --BTN_Red: #e3344b;
    --BTN_Green: #337e47;
    --BTN_Yellow: #f39800;
    --BTN_Blue: #0061f3;

    --pLabel: 80px;
    --pBTitle: 58px;
    --pMTitle: 40px;
    --pSTitle: 28px;
    --pContent: 18px;
    --pSContent: 14px;
}


body{
    background-color: var(--color02);
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasOne{
    border: 2px solid var(--color06);
}