body { font-family: sans-serif; }

.draggable {
  /* width: 60px;
  height: 140px; */
  /* background: #F90; */
  border-radius: 50%;
  cursor: move;
  overflow:visible;
}
.draggable.is-pointer-down {
  background: rgb(252, 255, 99);
}
.draggable.is-dragging { opacity: 0.5; }